@model IEnumerable<Vehicle>
@{
    Layout = "_Layout";
}
    <div class="row">
        <div class="panel-body col-lg-offset-3 col-lg-6" >
            <h2 class="col-lg-offset-1">List of In Stock Vehicles</h2>
            <table class="table table-sm table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Year</th>
                        <th>Make/Model</th>
                        <th>Mileage</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (CarDealership.Models.Vehicle v in Model)
                    {
                        <tr>
                            <td><h4> @v.Year </h4></td>
                            <td><h4> @v.Make @v.Model</h4></td>
                            <td><h4> @v.Mileage </h4></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <a class="btn btn-primary col-lg-offset-5 col-lg-2" asp-action="CarEntry">Car Entry Form</a>
    </div>



